@keyframes FadeIn{
  0% {
    opacity : 1;
  }
  100% {
    opacity : 0;
    display: none;
  }
}

#animation{
  animation:FadeIn 0.1s ease-in-out forwards;
  animation-play-state: paused;
}

#animation:hover{
  animation-play-state: running;
}